.tag {
    padding: 4px 12px;
    width: fit-content;
    border-radius: 50px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

// Variants

.alert {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 4px;
    background: $y1;
    color: $y0;
}

.sobol {
    background: $p1;
    color: $p0;
}

.prospr {
    background: $c1;
    color: $c0;
}

.arctic-labs {
    background: $b1;
    color: $b0;
}

.vendorpm {
    background: $m1;
    color: $m0;
}