/* Neutrals */

$n0: #000;
$n1: rgba(255,255,255,0.05);
$n2: rgba(255,255,255,0.1);
$n3: rgba(255,255,255,0.25);
$n4: rgba(255,255,255,0.5);
$n5: rgba(255,255,255,0.75);
$n6: #fff;

/* Functional */

$primary: #0099FF;
$secondary: #00EEFF;
$gradient: linear-gradient(90deg, #0099FF 0%, #00EEFF 100%);
