/* Neutrals */

$n0: #000;
$n1: rgba(255,255,255,0.05);
$n2: rgba(255,255,255,0.1);
$n3: rgba(255,255,255,0.25);
$n4: rgba(255,255,255,0.5);
$n5: rgba(255,255,255,0.75);
$n6: #fff;

/* Functional */

$primary: #0099FF;
$primary-transluscent: rgba(0, 153, 255, 0.2);
$secondary: #00EEFF;
$gradient: linear-gradient(90deg, #0099FF 0%, #00EEFF 100%);

/* Accent */

$y0: #ECA400;
$y1: rgba(236, 164, 0, 0.2);

$c0: #00C6B4;
$c1: rgba(0, 198, 180, 0.2);

$b0: #1B98FF;
$b1: rgba(27, 152, 255, 0.2);

$p0: #B476FF;
$p1: rgba(180, 118, 255, 0.2);

$m0: #FF4CB8;
$m1: rgba(255, 76, 184, 0.2);




