@import 'colors';
@import 'animations';
@import 'components/btn';
@import 'components/tag';

html {
    background-color: $n0;
    color: $n6;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0;
    font-weight: 300;
}

a {
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}

// Media Queries

@media only screen and (max-width: 720px) {
    .inner {
        padding: 80px 24px;

        .project-team-member {
            .divider-inline-h-round,
            .project-team-member-details-role {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 721px) {
    .inner {
        padding: 80px 48px;
    }
}