@import 'colors';
@import 'animations';
@import 'components/btn';
@import 'components/tag';

html {
    background-color: $n0;
    color: $n6;
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all 0.2s linear;
}

body {
    margin: 0;
}

p {
    margin: 0;
    font-weight: 300;
}