@import 'global';

.inner {
  position: relative;
  display: grid;
  grid-template-columns: 668px 560px;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  padding: 80px 0;
  max-width: 1280px;
  // min-height: 100vh;
  // height: 100%;

  .main{
    .bio {
      visibility: hidden;
      margin-bottom: 120px;

      .bio-avatar {
        width: 80px;
        height: 80px;

        animation: fadeInLeft 0.5s linear 0.25s forwards;
        -moz-animation: fadeInLeft 0.5s linear 0.25s forwards;
      }

      .bio-content{
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 16px;
        margin-top: 32px;
        max-width: 480px;
        color: $n5;

        .bio-header {
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          color: $n6;

          animation: fadeInLeft 0.5s linear 0.35s forwards;
          -moz-animation: fadeInLeft 0.5s linear 0.35s forwards;

          .bio-header-gradient {
            font-weight: 600;
            background: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
          }
        }

        .bio-description {
          font-size: 16px;
          line-height: 28px;

          animation: fadeInLeft 0.5s linear 0.45s forwards;
          -moz-animation: fadeInLeft 0.5s linear 0.45s forwards;

          span {
            color: $n4;
          }
        }

        .tag {

          animation: fadeInLeft 0.5s linear 0.55s forwards;
          -moz-animation: fadeInLeft 0.5s linear 0.55s forwards;

          .bio-construction-emoji {
            color: $n6;
          }
        }
      }
    }

    .projects {

      .section-title{
        visibility: hidden;
        animation: fadeInLeft 0.5s linear 1.3s forwards;
        -moz-animation: fadeInLeft 0.5s linear 1.3s forwards;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $n6;
      }

      .project-container {
        visibility: hidden;
        display: grid;
        gap:80px;
        margin-top: 48px;

        animation: fadeInLeft 0.5s linear 2s forwards;
        -moz-animation: fadeInLeft 0.5s linear 2s forwards;

        .project {

          .project-content{
            display: grid;
            grid-template-rows: repeat(3, auto);
            gap: 16px;
            max-width: 480px;
            font-size: 16px;
            line-height: 28px;

            .project-chips {
              display: inline-grid;
              grid-template-columns: auto auto auto;
              align-items: center;
              gap: 12px;
              width: max-content;

              .link-btn-wrapper {
                position: relative;
                left: -12px;
                margin-right: -16px;
                padding: 8px 12px;
                width: max-content;
                border-radius: 12px;
                text-decoration: none;

                &:hover, &:active {
                  background: rgba(255,255,255,0.05);
                  color: $n6;
                }
              }

              .divider-inline-h-rect {
                width: 2px;
                height: 16px;
                border-radius: 50px;
                background: $n2;
              }

              .tag {
                max-width: max-content;
                left: 8px;
              }
            }
            
            .project-description {
              color: $n5;
            }
          }

          .project-team {
            margin-top: 32px;
            display: grid;
            grid-template-rows: repeat(3, auto);
            gap: 8px;

            .project-team-label {
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 1.5px;
              text-transform: uppercase;
            }

            .project-team-member {
              position: relative;
              left: -8px;
              display: grid;
              grid-template-columns: repeat(2, auto);
              gap: 12px;
              width: max-content;
              padding: 8px 8px;
              border-radius: 12px;
              text-decoration: none;

              .project-team-member-avatar {
                height: 28px;
                width: 28px;
                border-radius: 50px;
                opacity: 0.8;
              }

              .placeholder-avatar {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 28px;
                width: 28px;
                border-radius: 50px;
                background: $n2;
                color: $n5;

                p {
                  font-size: 10px;
                  line-height: 14px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
              }

              .project-team-member-details {
                display: inline-grid;
                grid-template-columns: auto auto auto auto;
                gap: 12px;
                align-items: center;
                color: $n4;

                .divider-inline-h-round {
                  height: 4px;
                  width: 4px;
                  border-radius: 50px;
                  background: $n2;
                }

                .project-team-member-details-role {
                  margin-right: -4px;
                }
              }

              &:hover, &:active {
                background: rgba(255,255,255,0.05);

                .project-team-member-details {
                  color: $n6
                }

                .project-team-member-avatar {
                  opacity: 1;
                }

                .placeholder-avatar {
                  background: $n3;
                  color: $n6;
                }
              }
            }
          }
        }
      }

      .project-mockup {
        margin-top: 32px;
        padding: 24px;
        width: 620px;
        height: max-content;
        border-radius: 16px;

        img {
          width: 100%;
        }
      }

      .sobol-mockup {
        background: $n1;
      }

      .prospr-mockup {
        background: $n2;
      }

      .al-mockup {
        background: $n5;
      }

      .vpm-mockup {
        background: $n3;
      }
    }

      .project-divider {
        height: 2px;
        width: 100%;
        background: $n2;
      }
    }

  .footer {
    bottom: 64px;
    align-self: flex-end;
    display: grid;
    visibility: hidden;
    animation: fadeInLeft 0.5s linear 1.3s forwards;
    -moz-animation: fadeInLeft 0.5s linear 1.3s forwards;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
    height: max-content;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    justify-content: flex-end;
    align-items: center;
    position: sticky;

    .nav-link {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      width: max-content;
      padding: 8px 12px;
      border-radius: 12px;
      color: $n4;
      text-decoration: none;

      .prefix-icon {
        margin-right: 8px;
      }

      .suffix-icon {
        margin-left: 8px;
      }

      &:hover, &:active {
        background: rgba(255,255,255,0.05);
        color: $n6;
      }
    }

    .email-address {
      color: $n6;
    }

    .divider-inline-h-rect {
    width: 2px;
    height: 16px;
    border-radius: 50px;
    background: $n2;
    }
  }
}