@import 'global';

.inner {
  position: relative;
  display: grid;
  grid-template-columns: 620px 520px;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  padding: 80px 0;
  max-width: 1240px;
  // min-height: 100vh;
  // height: 100%;

  .main{

    .bio {
      margin-bottom: 120px;

      .bio-content{
        margin-top: 32px;
        max-width: 480px;

        .bio-header {
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          color: $n6;

          .bio-header-gradient {
            font-weight: 600;
            background: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
            text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
          }
        }

        .bio-description {
          margin-top: 16px;
          font-size: 16px;
          line-height: 28px;
          color: $n5;
        }
      }
    }

    .projects {

      .section-title{
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $n6;
      }

      .project-container {
        display: grid;
        gap: 48px;
        margin-top: 48px;

        .project {

          .project-content{
            display: grid;
            grid-template-rows: repeat(3, auto);
            gap: 16px;
            max-width: 480px;
            font-size: 16px;
            line-height: 28px;

            .link-btn {
              left: -8px;
            }
            
            .project-description {
              color: $n5;
            }
          }

          .project-team {
            margin-top: 32px;
            display: grid;
            grid-template-rows: repeat(3, auto);
            gap: 16px;

            .project-team-label {
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 1.5px;
              text-transform: uppercase;
            }

            .project-team-member {
              position: relative;
              left: -8px;
              display: grid;
              grid-template-columns: repeat(2, auto);
              gap: 12px;
              width: max-content;
              padding: 8px 8px;
              border-radius: 12px;
              text-decoration: none;

              .project-team-member-avatar {
                height: 28px;
                width: 28px;
              }

              .project-team-member-details {
                display: inline-grid;
                grid-template-columns: auto auto auto auto;
                gap: 8px;
                align-items: center;
                color: $n4;

                .divider-inline-h-round {
                  height: 4px;
                  width: 4px;
                  border-radius: 50px;
                  background: $n2;
                }
              }

              &:hover {
                background: rgba(255,255,255,0.05);

                .project-team-member-details {
                  color: $n6
                }
              }

              &:link, &:visited, &:active {
                color: inherit;
              }
            }
          }

          .project-mockup {
            margin-top: 32px;
            width: 620px;
            height: 303px;
            border-radius: 8px;
            outline: $n2 solid 2px;
          }
        }
      }
    }
  }

  .footer {
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 24px;
    height: max-content;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    bottom: 64px;

    .nav-link {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      color: $n5;

      .suffix-icon {
        margin-left: 8px;
      }

      .prefix-icon {
        margin-right: 8px;
      }
    }

    .email-address {
      color: $n6;
    }

    .divider-inline-h-rect {
    width: 2px;
    height: 16px;
    border-radius: 50px;
    background: $n2;
    }
  }
}